* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, 
*:before,
*:after {
    box-sizing: inherit;
}
  
body {
    color: rgb(163, 163, 163);
    font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}
/* header and nav styling begins */
header {
    padding: 20px 0;
    background-color:rgb(17, 16, 19);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color:rgb(248, 248, 248);
}

header div {
    margin: auto 0;
    background-color: rgb(218, 151, 26);
}

header div h1 {
    font-weight: bold;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    padding: 3px 20px 3px 70px;
}

header nav {
    padding: 0 0 0 3px;
    margin: 13px 30px 0 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header nav span {
    font-size: 20px;
    margin: 0 10px 0 0;
    border-bottom: 3px solid rgb(218, 151, 26);
}
/* hero styling begins */
.hero {
    background-image: url("./2754781.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
}

.hero-text {
    color: rgb(248, 248, 248);
    background-color: rgb(218, 151, 26);
    padding: 7px 7px;
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    right: 40px;
}
/* main content body styling begins */
.content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.section-title {
    font-weight: bold;
    font-size: 36px;
    justify-content: right;
    align-items: center;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 40px;
    float: left;
    border-right: 5px solid rgb(218, 151, 26);
    min-width: 150px;
    text-align: right;
}

.section-content {
    font-size: 18px;
    margin-top: 40px;
    padding: 10px;
    float: right;
    justify-content: left;
    align-items: center;
}
/* work project styling begins */
.work-project {
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.work-project img {
    opacity: .7;
    max-width: 100%;
    height: auto;
}

.work-project img:hover {
    opacity: 1;
}

.main-project {
    clear: both;
}

.left-column {
    float: left;
    width: 49%;
}

.right-column {
    float: right;
    width: 49%;
}

.work-project span {
    color: rgb(248, 248, 248);
    background-color: rgb(218, 151, 26);
    padding: 7px 7px;
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    left: 0;
}

/* change work projects to single column for smaller screens */
@media screen and (max-width: 600px) {
    .left-column,
    .right-column {
        clear: both;
        float: none;
        width: 100%;
    }
}